// Colours from "solarized" theme.
$brblack: #002b36;
$black: #073642;
$brgreen: #586e75;
$bryellow: #657b83;
$brblue: #839496;
$brcyan: #93a1a1;
$base2: #eee8d5;
$brwhite: #fdf6e3;
$yellow: #b58900;
$orange: #cb4b16;
$red: #dc322f;
$magenta: #d33682;
$brmagenta: #6c71c4;
$blue: #268bd2;
$cyan: #2aa198;
$green: #859900;

html,
body {
  background-color: $brwhite;
  width: 100vw;
  height: 100vh;
  color: $black;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  color: $cyan;
}
